APP_DEBUG=True

API_TITLE=
API_VERSION=


OPENAPI_VERSION=3.0.3
OPENAPI_SWAGGER_UI_PATH="/swagger-ui/
OPENAPI_SWAGGER_UI_URL="https://cdn.jsdeliver.net/npm/swagger-ui-dist/"


DATABASE_NAME="divar"
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_TABLE_PREFIX="divar_"


REDIS_LOCAL_URI="redis://localhost:6379"
REDIS_PRODUCTION_URI=""


CAPTCHA_PUBLIC_KEY=""
CAPTCHA_PRIVATE_KEY=""


SMS_PANEL_API=""


MAIL_SERVER = ""
MAIL_PORT = 587
MAIL_USERNAME = ""
MAIL_PASSWORD = ""
MAIL_USE_TLS = True
MAIL_DEBUG = False


